@charset 'UTF-8';

body {
    text-align: center;
    margin: 0 auto;
}


#action * {
    display: none;
}


.first_hand {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.first_hand div {
    display: inline-block;
    margin: 5px;
    padding: 20px 3px;
    width: 45%;
    background-color: beige;
    border-radius: 10px;
    border: solid 2px black;
}
.first_hand img {
    margin: 2px;
    max-width: 30%;
}
.final_hand {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.final_hand div {
    margin: 2px;
    display: inline-block;
    max-width: 15%;
}
.final_hand img {
    width: 100%;
}
